{% extends "layout.html" %}

{% block content %}
<script src="/static/scripts/logScript.js"></script>
<div>
    <!-- Search bar -->
    <!-- advanced search button-->
    <!-- div where advanced options will appear-->
</div>
<h2>Reports Log</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Area</th>
            <th>Date</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody id="reportsView">
<!--        {% for report in reports %}

        <tr>
            <a href="/"></a>
            <td>report.id</td>
            <td>report.username</td>
            <td>repoert.location</td>
            <td>report.date</td>
            <td>report.type</td>
            <td>report.description</td>
        </tr>

        {% endfor %}
-->
    </tbody>
</table>

{% endblock %}
